/** 
* Created by Binlin 
* Date: 14-12-22 
* Time: PM 19:50; 
* insights login样式
*/
.login-wrap{width:920px;margin:50px auto;padding:30px;border:15px solid #f6f6f6;}
.login-wrap .login-main{width:485px;padding:25px 80px 0 0;height:300px;border-right:1px dashed #d2d2d2;position: relative;float: left}
.login-wrap h1{font-size: 36px;text-align: center;height:40px;}
.login-wrap .login-input{border:1px solid #d2d2d2;padding-left: 65px;height:42px;width:418px;margin-top:25px;}
.login-wrap .login-main i{height:23px;width:24px;background: url(../img/login-icon.png) no-repeat;display: block;position: absolute;}
.login-wrap div.login-request{position: relative;top:-30px;height:460px;}
.login-wrap .login-main i.email-icon{background-position: 0 0;top:98px;left:18px;}
.login-wrap .login-main i.name-icon{background-position: -100px 0;top:98px;left:18px;}
.login-wrap .login-main i.email-icon-request{background-position: 0 0;top:168px;left:18px;}
.login-wrap .login-main i.phone-icon{background-position: -58px 0;top:236px;left:18px;}
.login-wrap .login-main i.company-icon{background-position: -79px 0;top:305px;left:18px;}

.login-wrap .login-main i.password-icon{background-position: -34px 0;top:170px;left:18px;}
.login-wrap .no-account{width:240px;height:155px;float:right;margin:100px 50px 0 0;text-align: center;}
.login-wrap .no-account p{color:#999999;font-size: 15px;line-height: 18px;}
.login-wrap .no-account a.public-green-border-btn{margin-top: 25px;display: inline-block;}
.login-wrap .request-feedback{width:410px;margin:0 auto;text-align: center;}
.login-wrap .request-feedback p{text-align: center;width:380px;margin:50px auto 0;font-size:16px;line-height: 20px;}
.login-wrap .request-feedback a.blue-link{text-align: center;display: inline-block;font-size:16px;margin-top:20px;}





