.edit-step{
    width: 1150px;
    margin:20px auto 0;
    height: 20px;
    font-family: Arial;
    color:#999
}
.edit-search-no-result {
    width : 998px;
    margin : 0px auto;
    height : 46px;
    font-size: 18px;
    color: #555;
    border:1px solid #cccccc;
    /*text-align: center;*/
    line-height: 46px;
    background-color: #f5f5f5;
}
.edit-search-no-result span{
    padding-left:20px;
}

.edit-step1-progress {
    height:12px;
    background-color: #d2d2d2;
}
.edit-progress-icon {
    width:65px;
    height:65px;
    margin-left: 60px;
    margin-top: -38px;

}
.edit-step1-progress.edit-progress-on {
    background-color: #75bc00;
}
.edit-step1 .edit-progress-icon {
    background: url('/img/edit-progress.png') 0px -65px no-repeat;
}
.edit-step1.edit-progress-on .edit-progress-icon{
    background: url('/img/edit-progress.png') 0px 0px no-repeat;
}
.edit-step2 .edit-progress-icon {
    background: url('/img/edit-progress.png') -65px -65px no-repeat;
}
.edit-step2.edit-progress-on .edit-progress-icon{
    background: url('/img/edit-progress.png') -65px 0px no-repeat;
}
.edit-step2-progress {
    /*margin-top: -10px;*/
    height:12px;
    background-color: #d2d2d2;
    /*background: url('/img/edit_step2_off.png') no-repeat;*/
}
.edit-step2-progress.edit-progress-on {
    background-color: #75bc00;
    /*background: url('/img/edit_step2_on.png') no-repeat;*/
}
li.edit-step1.edit-progress-on {
    color: #75bb00;
}
.edit-step li h1 {
    padding-left: 150px;
}
.edit-btn-green {
    display : inline-block;
    background:#75bb00;
    color:#fff;
    text-align: center;
    border:none;
    border:0;
    font-size: 18px;
    vertical-align: middle;
    border:1px solid #cccccc;
}
.edit-btn-green.disabled {
    background:#999999;
    cursor:default;
}
.edit-btn-white {
    display : inline-block;
    background: linear-gradient(to bottom, white 0%, #f0f0f0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:1px solid #cccccc;
    color: #555555;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    line-height:32px;
}
