.edit-tree {
    width: 1000px;
    border: solid 1px rgb(210, 210, 210);
    margin: 30px auto;
    max-height:300px;
    /*overflow: auto;*/
}
.edit-main {
    /*position: relative;*/
    font-family: Arial;
    width: 1120px;
    margin:auto;
    border: 15px solid #f6f6f6;
    border-top: none;
    border-bottom: none;
    padding-bottom: 75px;
    /*min-height : 484px;*/
}
.edit-title {
    height: 70px;
    width: 1000px;
    margin: 20px auto 30px;
    padding-top: 75px;
    border-bottom: solid 1px #CCCCCC;
    padding-bottom:20px;
}


.edit-search {
    margin: 0px auto;
    width : 1000px;
}
.edit-search-input {
    height : 46px;
    font-size : 18px;
    color : #999;
    float: left;
    border:1px solid #cccccc;
    text-indent: 20px;
    font-family: Arial;
    width:798px;
}
.edit-search-input.edit-search-error{
    border:1px solid red;
}
.edit-search-input:focus{
    width:796px;
    height : 44px;
    font-size : 18px;
    color : #999;
    float: left;
    border:2px solid #75bc00;
    text-indent: 20px;
    font-family: Arial;
}

.edit-search-btn {
    display : inline-block;
    background:linear-gradient(to bottom, white 0%, #f0f0f0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color:#555;
    text-align: center;
    width:199px;
    border:none;
    border:0;
    height:46px;
    border:1px solid #cccccc;
    border-left:none;
    font-size: 22px;
    vertical-align: middle;
    line-height:46px;
    /*border-radius: 5px;*/
}

.edit-submit {
    /*position: absolute;*/
    /*bottom: 0px;*/
    font-family: Arial;
    margin: auto;
    margin-bottom: 75px;
    background-color: #f1f1f1;
    width:1150px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.edit-next-btn {
    margin-left: 8px;
    width:120px;
    height:34px;
    line-height:34px;

}
.edit-cancel-btn{
    width:120px;
    height:34px;
    line-height:34px;
}
.edit-submit-btns{
    display: inline-block;
    margin-right: 75px;
    margin-top:20px;
    float: right;
}
.edit-company-info{
    padding-left: 60px;
    width:300px;
    display: inline-block;
}
