.edit-compare-main {
    font-family: Arial;
    width: 1120px;
    margin: 20px auto;
    min-height : 484px;
    border: 15px solid #f6f6f6;
    border-top: none;

}
.edit-compare-error{
    margin: 0px auto 10px;
    width: 1000px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    color: #ff6600;
    background-color: #fffadd;
}
.edit-compare-title {
    height: 70px;
    width: 1000px;
    margin: 20px auto 20px;
    padding-top: 75px;
    border-bottom: solid 1px #CCCCCC;
    padding-bottom:20px;
}
.edit-compare-list{
    width: 1000px;
    border: solid 1px rgb(210, 210, 210);
    margin: 10px auto 50px;
    max-height: 300px;
    overflow: auto;
}
.edit-compare-list thead{

    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background-color: #75bb00;
    color: white;
}
.edit-compare-list thead th{
    padding-left:30px;
    padding-right: 30px;
    font-weight: bold;
    /*text-align: center;*/
}

.edit-compare-list tbody tr{
    border-bottom: 1px solid rgb(210, 210, 210);
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #555;
}
.edit-compare-list tbody tr:hover{
    background-color: #ddeefe;

}
.edit-compare-list tr td{
    padding-left:30px;
    padding-right:30px;
    /*text-align: center;*/
}


.edit-compare-remove{
    width: 1000px;
    border: solid 1px rgb(210, 210, 210);
    margin: 10px auto;
    max-height: 300px;
    overflow: auto;
}
.edit-compare-remove thead{
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background-color: #bbbbbb;
    color: #545454;
}
.edit-compare-remove thead th{
    font-weight: bold;
    padding-left:30px;
    padding-right:30px;
    /*text-align: center;*/
}

.edit-compare-remove tbody tr{
    border-bottom: 1px solid rgb(210, 210, 210);
    line-height: 30px;
    height: 30px;
    font-size: 14px;
}
.edit-compare-remove tbody tr:hover{
    background-color: #def;

}
.edit-compare-remove tr td{
    padding-left:30px;
    padding-right:30px;
    /*text-align: center;*/
}

.edit-compare-search-section {
    background-color: #f1f1f1;
    width:100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.edit-compare-search {
    margin: 10px auto;
    width : 1000px;
}
.edit-compare-search-input {
    height : 46px;
    font-size : 18px;
    color : #999;
    float: left;
    border:1px solid #cccccc;
    text-indent: 20px;
    font-family: Arial;
}
.edit-compare-search-input:focus{
    height : 44px;
    font-size : 18px;
    color : #999;
    float: left;
    border:2px solid #75bc00;
    text-indent: 20px;
    font-family: Arial;
}
.edit-compare-search-input.edit-compare-search-error{
    border:1px solid red;
}
.edit-compare-search-btn {
    display : inline-block;
    background:white;
    color: #555555;
    text-align: center;
    width:194px;
    border:solid 1px rgb(210, 210, 210);
    border-left:none;
    height:46px;
    font-size: 22px;
    vertical-align: middle;
    line-height:48px;
    /*border-radius: 5px;*/
}
.edit-compare-tree {
    width: 1000px;
    border: solid 1px rgb(210, 210, 210);
    margin: 50px auto;
    max-height:300px;
    /*overflow: auto;*/
}
.edit-compare-submit {
    width: 1000px;
    margin: 50px auto;
    height: 40px;
}
.edit-compare-submit-btns {
    float: right;
}
.edit-compare-cancel-btn {
    width: 118px;
    height:34px;
    line-height:34px;
}
.edit-compare-generate-btn {
    margin-left: 8px;
    width: 118px;
    height:34px;
    line-height:34px;
}
.edit-compare-remove-icon {
    background: url("/img/delete.png");
    width: 12px;
    height:12px;
}
.edit-compare-add-icon {
    background: url("/img/add.png");
    width: 12px;
    height:12px;
}
.edit-compare-hide-icon {
    background: url("/img/double-arrow-up.png");
    display: inline-block;
    width: 12px;
    height:12px;
}

