@CHARSET "UTF-8";


line {
    stroke: #ccc;
}

text {
    fill: #333;
}
text.y-title {
    font-size: 14px;
}

.line {
    fill: none !important;
    stroke: #666;
}

.marker {
    cursor: pointer;
}

.line .marker {
    opacity: 0;
}

.line .marker.selected {
    opacity: 1;
}

.line.current {
    stroke-width: 2;
}

.line.current .marker {
    opacity: 1;
}

.line.current .marker.selected {
    fill: white !important;
}

path.domain {
    display: none;
}

.chart-container {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip > div {
    background: rgba(255,255,255,0.8);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.tooltip p {
    margin: 0;
}

.tooltip p.tooltip-header {
    font-size: 14px;
    margin-bottom: 5px;
}

.tooltip p.tooltip-header span {
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #ccc;
    margin-left: 10px;
}

.tooltip p.tooltip-header span, .tooltip p.tooltip-sub {
    color: #666;
}

.legend-item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 8px;
    opacity: 0.5;
}

.legend-item.selected, .legend-item.current {
    color: #333;
    opacity: 1;
}

.legend-item.current {
    background: #f8f8f8;
}

.legend-item span {
    display: inline-block;
}

.legend-item span.indicator {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 5px;
}

.legend-item.current {
    cursor: auto;
    display: block;
}


.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

.country .area.hover {
    stroke: #aaa !important;
}

